<div class="note-wrapper">
  <input
  type="text"
  placeholder="Заглавие на бележката"
  [ngStyle]="{
      'border-color': noteTitle.length < 5 ? 'red' : 'black',
      'border-width': 'thick'
    }"
    [(ngModel)]="noteTitle"
    class="notesTitle"
    [value]="noteTitle"
    />
    @if(noteTitle.length < 5){
    <div class="error">Минимум количество символи 5</div>
    }
    
    <input 
    type="text"
    placeholder="Съдържание на бележката"
    [ngStyle]="{
      'border-color': noteContent.length < 7 ? 'red' : 'black',
      'border-width': 'thick'
    }"
    [(ngModel)]="noteContent"
    class="notesContent"
    [value]="noteContent"
    />
    @if(noteContent.length < 7){
    <div class="error">Минимум количество символи 7</div>
    }
  <div>
    <button
      class="save-note"
      [disabled]="noteTitle.length < 5 || noteContent.length < 7"
      (click)="
          !noteList[index]
           ? saveNoteData()
           : editNote(this.noteList[this.index], this.index)
      "
    >
      Съхрани бележката
    </button>
  </div>
</div>

@if(noteList.length > 0){ @for(element of noteList; track $index ){
  <div class="note-panel">
    
    <div
        class="element"
        (click)="select($index)"
      >
        <div>{{ element.title }}</div>
        <div>{{ element.content }}</div>
      </div>
      @if(noteIndex == $index && showButtons){
      
        <button class="deleteButton" (click)="deleteNote(element, $index)">Изтрий</button>
        <button class="editButton" (click)="showEditValue($index)">Редакция</button>
      }
  </div>  
} }
